@font-face {
   font-family: 'HelveticaNeueMedium';
   src: url('../fonts/HelveticaNeueMedium.woff2') format('woff2'), 
        url('../fonts/HelveticaNeueMedium.woff') format('woff'),
        url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
   font-weight: 600; /*Насыщенность/начертание шрифта - "жирность"*/
   font-style: normal; /*Стилизация шрифта */
   font-display: swap;  /*Метод загрузки шрифта*/
}

/* font converted using font-converter.net. thank you! */
