html {
   box-sizing: border-box;
}

*,
*::before
*::after {
   box-sizing: inherit;
}

body {
   font-family: 'HelveticaNeueMedium', 'Verdana', sans-serif;
   color: #ffffff;
   background-color: #E5E5E5;
}
.container {
   max-width: 1925px;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
}

